out/
data/*
!data/CELLECT_ouput/
envs/
config/*
!config/config.yml
gwas/
ldsc/
rules/*
!rules/common_func1.smk
*cellect_job*.sh*
CHANGELOG.md
.gitmodules
.snakemake/
*__pycache__/
*.save
*.ipy*_checkpoints/
notebooks/*
!notebooks/depression_example.ipybn
scripts/convert_zstat_to_pval.py
scripts/format_and_map_snake.py
scripts/get_effector_genes.py
scripts/make_all_genes_snake.py
scripts/make_annot_from_geneset_all_chr_snake.py
scripts/make_cts_file_snake.py
scripts/make_dummy_covar_file_snake.py
scripts/parse_results.py
scripts/prioritize_annotations_snake.py
scripts/run_gwas_conditional_snake.py
scripts/split_ldscores_snake.py
figures_and_tables/scatter_plots/

