out/
data/
!data/CELLECT_output/
envs/
config/
gwas/
ldsc/
rules/
!rules/common_func1.smk
*.sh.o*
CHANGELOG.md
.gitmodules
.snakemake/
README_CELLECT.md
*__pycache__/
*.save
*.ipy*_checkpoints/
scripts/convert_zstat_to_pval.py
scripts/format_and_map_snake.py
scripts/get_effector_genes.py
scripts/make_all_genes_snake.py
scripts/make_annot_from_geneset_all_chr_snake.py
scripts/make_cts_file_snake.py
scripts/make_dummy_covar_file_snake.py
scripts/parse_results.py
scripts/prioritize_annotations_snake.py
scripts/run_gwas_conditional_snake.py
scripts/split_ldscores_snake.py
